fieldset.main_field {
	border: 1px solid #ff7979;
	border-radius: 10px;
	padding-top: 30px;
	margin: 3% 25% 10px 25%;
	background:white;
}

legend {
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
   	margin-bottom: 5%;
}

input.btn {
	margin: 2% 0 10% 0;
	width: 55%;
	height: 50px;
	border: none;
	background-color: #ff7979;
	color: #ffffff;
}

input.form-control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dfdfdf;
    width: 55%;
    
    margin: 2% 0 0 23%;
    font-size: 15px;
}

select.form-control {
	width: 55%;
	margin: 2% 0 0 23%;
}

p {
	margin: 5% 0 0 23%;
}

.btn-primary:hover {
	color: #fff;
	background-color: #ff5656;
	border-color: #ff5656;
}

.bankAccount_f {
	display: flex;
	gap: 2%;
}

input.form {
	margin-left: 23%;
}

input.btn-primary {
	margin-left: 23%;
	margin-bottom: 5%;
	width: 55%;
}

input.btn-change{
	margin: 2% 23% 0 0;
	border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dfdfdf;
    width: 55%;
    font-size: 15px;
}
