.main {
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

fieldset{
	border-radius: 10px;
    margin: 2% 10% 2% 10% ;
    border: 1px solid #ff7979;
    text-align: center;
    width: 50%;
}

.bankaccountwelcome{
	display: flex;
    
    justify-content: center;
    align-items: center;
    
}
.field {
    padding: 3% 10% 3% 10%;
    margin : 0 10% 0 10%;
}

img {
    margin-bottom: 20px;
    margin-top: 50px;
}

legend {
    margin-bottom: 50px;
    font-size: 40px;
}

.title {
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}

input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dfdfdf;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
}

.middle {
    display: flex;
    gap: 10px;
}

.product_name {
    margin-top: 20px;
}

.accountNum {
    margin-top: 20px;
}

.mainBtn {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    background-color: #ff7979;
    color: #ffffff;
    border: none;
}

.mainBtn:hover {
	color: #ffffff;
	background-color: #ff5656;
	border-color: #ff5656;
}
