
.search {
    display: flex;
    text-align: center;
    justify-content: center;
}
.bottomLine{
    border-left :1px solid #808080;
    height: 25px;
    margin: 0px 10px 0px 10px;
}


.search a {
    text-decoration: none;
    color: #000000;
}
.search a:hover {
    text-decoration-line: underline;
}
fieldset {
    min-width: 0;
    padding: 0;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
    border-color: #ff7979;
    margin: 10% 25% 10px 25%;
}

legend {
    margin-top: 20px;
    margin-bottom: 20px;
}

input.form-control {
	margin-bottom: 10px;
}