.main{
	margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%;
}

fieldset.main_field {
    width: 100%;
    padding: 3% 20% 0 20%;
    border-radius: 10px;
    margin: 2% 20% 2% 20% ;
    border: 1px solid #ff7979;
}



legend {
    margin-top: 5%;
    margin-bottom: 40px;
    font-size: 40px;
}

legend.main_title {
    font-size: 25px;
}

span.title_text {
    font-size: 40px;
}

span.post_type {
    font-size: 15px;
}

thead {
	background-color: #ffb3b3;
	text-align: center;
}

tbody {
	text-align: center;
}

th {
	background-color: #ffffff;
}

table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	border-radius: 6px;
	overflow: hidden;
	max-width: 100px;
	width: 100%;
	margin: 0 0 0 0;
	position: relative;
}

button.writeBtn {
	border: none;
	background-color: #ff7979;
	float: right;
	width: 6%;
	height: 30px;
	color: #ffffff;
}

button.nextBtn {
	border: none;
	background-color: #ff7979;
	width: 6%;
	height: 30px;
	color: #ffffff;
	margin-top: 2%;
}

button:hover {
	color: #ffffff;
	background-color: #ff5656;
}

button.viewBtn {
	width: 6%;
	height: 30px;
	border: none;
	background-color : #ff7979;
	color: #ffffff;
}

td.title_td {
	width: 70%;
}

.saveBtn {
	border: none;
	background-color: #ff7979;
	width: 6%;
	height: 30px;
	color: #ffffff;
	margin-top: 2%;
}

.user_search {
	display: flex;
	gap: 5px;
}

input.searchBtn {
	border: none;
	color: #ffffff;
	background-color: #ff7979;
}
