.main {
	margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%;
}

fieldset {
	border: 1px solid #ff7979;
	border-radius: 10px;
	padding-top: 30px;
	margin: 3% 20% 10px 20%;
}

legend {
    margin-top: 10px;
    margin-bottom: 5%;
    text-align: center;
    font-size: 40px;
}

.join_title {
    margin: 30px 0 10px;
    font-size: 18px;
    margin-left: 20%;
}

h3 {
    display: block;
    font-size: 2cm;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
}

div {
    display: block;
}

.row_group+.row_group {
    margin-top: 20px;
}

button {
    margin-top: 50px;
    margin-bottom: 5%;
    margin-left: 20%;
    width: 60%;
    height: 50px;
    background-color: #ff7979;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dfdfdf;
    width: 60%;
    height: 50px;
    margin-bottom: 1px;
    font-size: 15px;
   	margin-left: 20%;
}

.bir_wrap{
    width: 100%;
    gap: 10px;
}

.gender_code input {
    width: 20px;
    height: 20px;
    gap: 10%;
}

.btn_type {
    color: #ffffff;
    font-weight: 1000;
}

input.gender-code {
	margin-left: 20%;
}

label.male {
	margin-left: 20%;
	display: flex;
}

label.female {
	margin-left: 2%;
	display: flex;
}

p#available {
	margin-left: 20%;
}

.gender_code {
	display: flex;
}