
#main_field {
	border: 1px solid #ff7979;
	border-radius: 10px;
	padding-top: 30px;
	margin: 3% 25% 10px 25%;
}
#transfer_list_field {
	border: 1px solid #ff7979;
	border-radius: 10px;
	padding-top: 30px;
	margin: 3% 10% 10px 10%;
}

#mytransfer {
	border: 1px solid #ff7979;
	border-radius: 10px;
	padding-top: 30px;
	margin: 3% 10% 5% 10%;
}

legend {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 40px;
}

#bank_list_h3 {
    font-size: 20px;
    margin : 0 0 0 0;
    margin-left: 3%;
}

#mytransfer_h3 {
    font-size: 18px;
    margin-left: 3%;
    
}

h4 {
    font-size: 15px;
    color: #808080;
    margin-left: 3%;
}

.transfer_list_money {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr;
}

#mytransfer_money {
    font-size: 25px;
}

#transfer_money {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr;
	justify-content: end;
}

.transfer_list_h3 {
	margin-left: 3%;
	font-size: 20px;
}

#money {
	margin-right: 5%;
}

p#transfer_money {
	margin-right: 20%;
}