.main {
	margin-top: 30px;
	margin-left: 10%;
	margin-right: 10%;
}

thead {
	background-color: #ffb3b3;
	color: #ffffff;
	font-size: 30px;
	border-width: none;
}

td {
	margin: 2% 0 2% 0;
	background-color: #ffffff;
}

table {
	margin-top: 5%;
	text-align: center;
	border-collapse: inherit;
	border: none;
}

input.btn-primary {
	border: none;
	float: right;
	background-color: #ff7979;
	color: #ffffff;
}

.table {
	box-shadow: white;
}